<div class="mb-3 flex flex-col">
	<label for="<%= name %>" class="mb-2 text-sm md:text-base"><%= label %></label>
	<input
		type="<%= type %>"
		class="py-2 md:py-3 px-3 md:px-4 rounded-lg outline-none border border-gray-400 focus:border-[#e9c38b]"
		name="<%= name %>"
		id="<%= name %>"
		placeholder="<%= placeholder %>"
		value="<%= value %>"
	/>
	<small
		id="emailHelpId"
		class="text-center text-red-400 font-semibold <%= isError ? '' : 'opacity-0' %> text-sm md:text-base"
		><%= error %></small
	>
</div>
